<!DOCTYPE html>
<html>
    <head>
        <link href="css/index.css" rel="stylesheet">
        <meta charset="utf-8">
        <title>{{ site.title }}</title>
    </head>
    <body>
        <div class="body">
            <div class="head">
                <p><img alt="{{ site.title }}" src="assets/wsbanner.png"></p>
            </div>
            <div class="main">
                <div class="menu">
                    <p>Pages</p>
                    <ul>
                        Badum tish!
                    </ul>
                </div>
                <div class="post">
                    <p>Wait for it, wait for it...</p>
                    <div class="page">
                        {{ content }}
                    </div>
                </div>
            </div>
            <div class="foot">
                <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
            </div>
        </div>
    </body>
</html>
